.text {
    color: #000000;
    font-size: 12px;
    border-color: #000000;
}

.wrapper {
    display: inline-block;
    background-color: #abaaaa;
    padding: 5px;
    border-radius: 2px;
}

.title {
    display: inline-block;
}

