.scrollable-dropdown-container {
    position: relative;
}

.scrollable-dropdown-options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.scrollable-dropdown-options {
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.scrollable-dropdown-option {
    padding: 10px;
    cursor: pointer;
}

.scrollable-dropdown-option:hover {
    background-color: #f5f5f5;
}
