.text {
    color: #000000;
    font-size: 12px;
    border-color: #000000;
}

.wrapper {
    display: inline-block;
    background-color: #7e7e7e;
    padding: 2px;
    border-radius: 2px;
    margin: 2px;
}

.title {
    display: inline-block;
}

